<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Admin</title>
    <link rel="stylesheet" href="/assets/css/tutor-admin.css">
</head>

<body>
    <div class="container-center">
        <div class="div-center-preg">
            <div class="divForm">
                <form id="formTutor" action="/admin/addpregunta" method="post">
                    <input type="text" class="in" name="pregunta" id="pregunta" placeholder="Pregunta?">
                    <input hidden type="text" name="idTutor" id="idTutor" value="<%= tutorData['idTutor'] %> ">
                    <select name="nivel">
                        <option value="principiante" selected>Principiante</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="avanzado">Avanzado</option>
                    </select>
                    <input type="text" class="in" name="opcion1" id="opcion1" placeholder="Opcion 1">
                    <input type="text" class="in" name="opcion2" id="opcion2" placeholder="Opcion 2">
                    <input type="text" class="in" name="opcion3" id="opcion3" placeholder="Opcion 3">
                    <input type="text" class="in" name="opcion4" id="opcion4" placeholder="Opcion 4">
                    <input type="text" class="in" name="respuesta" id="respuesta" placeholder="Respuesta correcta">
                    <button type="submit" id="btnGuardar" class="btnForm">Agregar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/assets/js/http.js"></script>
    <script src="/assets/js/tutor-admin.js"></script>
</body>

</html>