<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    <link rel="stylesheet" href="/assets/css/tutor-login.css">
</head>

<body>


    <header>
        <div class="div-header"></div>
        <div class="div-header2">
            <form action="./register">
                <input type="submit" value="Registrate" class="btn-register">
            </form>
        </div>
    </header>

    <div class="div-txt">
        <img src="/assets/img/login-txt-en.png" alt="">
    </div>

    <div class="container-login">
        <div class="div-pogo">
            <img src="/assets/img/pogo.png" alt="">
        </div>
        <div class="div-login">
            <form action="" class="form-login">
                <label for="">Iniciar sesion</label>
                <label for="">Usuario</label>

                <input type="text">
                <label for="">Contraseña</label>
                <input type="text">
                <input type="submit" value="Entrar" class="btn-register">
            </form>
        </div>
    </div>
    
    </div>

</body>

</html>