<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    <link rel="stylesheet" href="/assets/css/tutor-register.css">
</head>

<body>


    <header>
        <div class="div-header"></div>
        <div class="div-header2">
            <form action="./login">
                <input type="submit" value="Inicia sesion" class="btn-register">
            </form>
        </div>
    </header>

    <div class="div-txt">
        <img src="/assets/img/register-txt-es.png" alt="">
    </div>

    <div class="container-login">
        <div class="div-pogo">
            <img src="/assets/img/pogo-abeja.png" alt="">
        </div>
        <div class="div-login">
            <form action="./crud" method="post" class="form-login">
                <label for="">Registrate</label>
                <label for="">Nombre</label>
                <input type="text" name="nombre" id="nombre">
                <label for="">Email</label>
                <input type="email" name="email" id="email">
                <label for="">Username</label>
                <input type="text" name="username" id="username">
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Registrame" class="btn-register">
            </form>
        </div>
    </div>
    
    </div>

</body>

</html>