<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="shortcut icon" href="../assets/icons/libro-abierto.png">
   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Materialize CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- Main CSS -->
    <%- include("comunes/components/headers-component") -%>
  
    <!-- Google Icon Font -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <title>Proyecto Web</title>
</head>


<body>
<div class="container">

<table id="tabla"  class="table table-bordered table-striped text-center mt-4">
  <thead>
  <tr class="big-primary text-black">
<th scope="col">nombre</th>
<th scope="col">edad</th>
<th scope="col">sexo</th>
<th scope="col">Aciertos</th>
<th scope="col">acciones</th>
</tr>
</thead>
<tbody>
  
<tr>

  <script src="../assets/js/registro.js"></script>
  
 
</tr>



</tbody>

  </table>
</div>
 
 


</body>

</html>