<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="shortcut icon" href="../assets/icons/libro-abierto.png">
   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- Main CSS -->
    <%- include("comunes/components/headers-component") -%>
  
    <!-- Google Icon Font -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <title>Proyecto Web</title>
</head>


<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li><a href="sass.html">Cuenta</a></li>
        <li><a href="badges.html">Ajustes</a></li>
        <li><a href="collapsible.html">Acerca de</a></li>
      </ul>
    </div>
  </nav>




  


<div class="container">


<table id="tabla" class="table_ubi" class="table table-bordered table-striped text-center mt-4">

  
 
  <tr class="big-primary text-black">
<th >Nombre</th>
<th >EDAD</th>
<th >SEXO</th>
<th >ACIERTO</th>
<th >ACCIONES</th>
<th>

    <form action="/actualiza">
      <input type="submit" value="Agregar" class="btn-agrega">
    </form>
   

</th>
</tr>



 
<tr>

  <script src="../assets/js/registro.js"></script>
  
</tr>

  </table>
</div>

 
<script src="../assets/js/delete.js"></script>

</body>

</html>