<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/v1/example/create" method="post">
        <label for=""> ID:
            <input type="text" name="idStatus">
        </label>
        <label for=""> STATUS:
            <input type="text" name="status">
        </label>
        <label for=""> DESCRIPTION:
            <input type="text" name="description" required>
        </label>
        <button type="submit" id="btnGuardar">Guardar</button>
    </form>
    <% if(httpCode != 0) {%>
        <h1><%=message  %> </h1>
    <% } %>  
    <table>
        <thead>
            <th>
                <tr>
                    <td>#</td>
                    <td>Status</td>
                    <td>description</td>
                </tr>
            </th>
        </thead>
        <tbody>
            <% for(var i=0; i<records.length ;i++){ %> 
                <tr>
                    <td><%=records[i]  %></td>
                    <td></td>
                    <td></td>
                </tr>
            <% } %> 
        </tbody>
    </table>
    <script src="/assets/js/form.js"></script>
</body>
</html>