<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="shortcut icon" href="icons/libro-abierto.png">
    <%- include("comunes/components/headers-component") -%>
    <title>update</title>
</head>

<body>



    <div class="div-txt">
        <img src="../assets/img/alta-tutorado.png" alt="">
    </div>

    <div class="container-register">
      
        
            <form  class=form-login id="tutorado-registro">

                <label class=div-txt-register  for="">Tutorado</label>

               <div>
                <label class=div-txt-logo> Nombre: </label>
                <input  id="nombre" class=input-register type="text"required> 
               </div>             
               <div>
                <label class=div-txt-logo> Edad: </label>
                <input id="edad" id="edad" class=input-register type="text" required>
               </div>
               <div>
               <label class=div-txt-logo> Sexo: </label>
                <input  id="sexo" class=input-register type="text" required> 
               </div>
               
               <div>
                <input type="submit" value="Registrar" class="btn">
               </div>
                
              
            </form>
        
<script src="../assets/js/inscribe.js"></script>
</body>

</html>