<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="shortcut icon" href="icons/libro-abierto.png">
    <%- include("comunes/components/headers-component") -%>
    <title>nivel</title>
</head>

<body>


    <header>
        <div class="div-header"></div>
        <div class="div-header2">
            
                
                <label  class="div-user">Username </label>
        </div>
    </header>

    <div class="div-txt">
        <img src="../assets/img/principal-txt-es.png" alt="">
    </div>
    
    <div class="container-nivel-izq">
       
        <label class="div-txt-level">Principiante </label>
       
        <div >
           
            <img  class="div-img-nivel1" src="../assets/img/nivel-01.png" alt="">

           
        </div>
        <form action="test.html">
            <input type="submit" value="Entrar" class="btn-entrar">
        </form>
    </div>


<div class="container-nivel-centro">

    <div >
        <label class="div-txt-level">   Intermedio </label>
        <img class="div-img-nivel2" src="../assets/img/nivel-02.png" alt="">
    </div>
    <form action="test.html">
        <input type="submit" value="Entrar" class="btn-entrar">
    </form>

</div>

<div class="container-nivel-der">
    <div >
        <label class="div-txt-level">   Avanzado </label>
        <img class="div-img-nivel3" src="../assets/img/nivel-03.png" alt="">
    </div>

    <form action="test.html">
        <input type="submit" value="Entrar" class="btn-entrar">
    </form>
</div>
       



    



    <!-- Borrar [test] -->
    <div class="div-img-nivel">
       
    </div>
    <!-- [test] -->
    
    </div>
    <!-- Materialize JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <!-- Main JS -->
    <!-- <script src="main.js"></script> -->

</body>

</html>