<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="shortcut icon" href="icons/libro-abierto.png">
    <%- include("comunes/components/headers-component") -%>
    <title>registro</title>
</head>

<body>



    <div class="div-txt">
        <img src="img/registro.png" alt="">
    </div>

    <div class="container-register">
      
        
            <form action="test.html" class="form-login">
                <label class=div-txt-register  for="">Registrate</label>

               <div>
                <label class=div-txt-log> Nombre: </label>
                <input  class=input-register type="text"> 
               </div>
               <div>
                <label class=div-txt-log for="">Email:</label>
                <input class=input-register type="text">


               </div>
                
                <input type="submit" value="Entrar" class="btn-register">
            </form>
        
    </div>

   
    <!-- [test] -->
    
    </div>
    <!-- Materialize JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <!-- Main JS -->
    <!-- <script src="main.js"></script> -->

</body>

</html>