<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="shortcut icon" href="icons/libro-abierto.png">
    <%- include("comunes/components/headers-component") -%>
    <title>registro</title>
</head>

<body>



    <div class="div-txt">
        <img src="../assets/img/registro.png" alt="">
    </div>

    <div class="container-register">
      
        
            <form  class=form-login id="tutor-registro">
                <label class=div-txt-register  for="">Registrate</label>

               <div>
                <label class=div-txt-logo> Nombre: </label>
                <input  name="nombre" id ="nombreR"class=input-register type="text"required> 
               </div>             
               <div>
                <label class=div-txt-logo> Email: </label>
                <input name="email" id="ema" class=input-register type="text" required>
               </div>
               <div>
               <label class=div-txt-logo> Username: </label>
                <input name="username" id="usernameR" class=input-register type="text" required> 
               </div>
               <label class=div-txt-logo> Contraseña: </label>
                <input  name="password" id="passwordR" class=input-register type="text" required> 
               </div>
               <div>
                <input type="submit" value="Registro" class="btn-registro">
               </div>
                
              
            </form>
        
<script src="../assets/js/script.js"></script>
</body>

</html>