<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="shortcut icon" href="icons/libro-abierto.png">
    <%- include("comunes/components/headers-component") -%>
    <title>registro</title>
</head>

<body>



    <div class="div-txt">
        <img src="../assets/img/registro.png" alt="">
    </div>

    <div class="container-register">
      
        
            <form action="test.html" class="form-login">
                <label class=div-txt-register  for="">Registrate</label>

               <div>
                <label class=div-txt-logo> Nombre: </label>
                <input  id ="nombreR"class=input-register type="text"> 
               </div>             
               <div>
                <label class=div-txt-logo> Email: </label>
                <input  id="emailR" class=input-register type="text"> 
               </div>
               <div>
               <label class=div-txt-logo> Username: </label>
                <input  id="usernameR" class=input-register type="text"> 
               </div>
               <label class=div-txt-logo> Contraseña: </label>
                <input  id="passwordR" class=input-register type="text"> 
               </div>
               <div>
                <input type="submit" value="Registro" class="btn-registro">
               </div>
                
              
            </form>
        

</body>

</html>