<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo tutorado</title>
    <link rel="stylesheet" href="/assets/css/tutor-login.css">
</head>

<body>
    <header>
        <div class="div-header"></div>
        <div class="div-header2">
            <input type="button" value="Volver" onclick="location.href='../tutor/login';" class="btn-register" />
        </div>
    </header>

    <div class="div-txt">
        <img src="/assets/img/login-txt-en.png" alt="">
    </div>

    <div class="container-login">
        <div class="div-pogo">
            <img src="/assets/img/PetDragon-rosa.png" alt="">
        </div>
        <div class="div-login">
            <form action="" class="form-login">
                <label for="">Codigo</label>
                <input type="text">
                <input type="submit" value="Comenzar" class="btn-register">
            </form>
        </div>
    </div>
    </div>
    <script src="/assets/js/tutor-login-register.js"></script>
</body>
</html>