<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/tutorado-nivel.css">
</head>

<body>
    <header>
        <div class="div-header"></div>
        <div class="div-header2">


            <label class="div-user">Username </label>
        </div>
    </header>

    <div class="div-txt">
        <img src="/assets/img/principal-txt-es.png" alt="">
    </div>

    <div class="container-nivel-izq">
        <br>
        <div>
        
            <img class="div-img-nivel1" src="/assets/img/nivel-01.png" alt="">


        </div>
        <form action="/pregunta/beginner">
            <input type="submit" value="Principiante" class="btn-entrar">
        </form>
    </div>


    <div class="container-nivel-centro">
        <br>
        <div>
            <img class="div-img-nivel2" src="/assets/img/nivel-02.png" alt="">
        </div>
        <form action="">
            <input type="submit" value="Intermedio" class="btn-entrar">
        </form>

    </div>

    <div class="container-nivel-der">
        <br>
        <div>
            <img class="div-img-nivel3" src="/assets/img/nivel-03.png" alt="">
        </div>

        <form action="">
            <input type="submit" value="Avanzado" class="btn-entrar">
        </form>
    </div>








    <!-- Borrar [test] -->
    <div class="div-img-nivel">

    </div>
    <!-- [test] -->

    </div>
</body>

</html>